body {
	background: #fff;
	color:  #000
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	color: rgb(56,113,248);
	font-size: 60pt;
	line-height: 60pt;
	font-weight: bold;
}

h3 {
	color: rgb(253,140,58);
	font-weight: none;	
}

a, a:visited {
	color: #08c;
}

a:hover {
	color: #0af;
}


input[type="text"] {
	width: 590px;
	padding: 12px;
	height: 24px;
	margin-bottom: 9px;
	margin-top: 5px;
	font-size: 20px;
	line-height: 22px;
}

input[type="button"] {

	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	padding-left: 48px;
	padding-right: 48px;

	margin-left: 0;
    background: rgb(56,113,248);
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
input[type="button"]:hover {
    background: rgb(56,113,248);
    border: solid 1px #2A4E77;
    text-decoration: none;
}
input[type="button"]:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgb(56,113,248);
    border: solid 1px #203E5F;
}