body {
	background: #fff;
	color:  #000
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	color: rgb(56,113,248);
	font-size: 54pt;
	line-height: 54pt;
	font-weight: bold;
}

h3 {
	color: rgb(253,140,58);
	font-weight: none;	
}

a, a:visited {
	color: #08c;
}

a:hover {
	color: #0af;
}

.footer {
    color: #666;
}

@media only screen and (max-width: 767px) {
    .not-on-phone {
        display: none;
    }
}
@media only screen and (max-width: 959px) {
    .not-on-tablet {
        display: none;
    }
}

#popOverContainer {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: white;
    opacity: 0.9;
    z-index: 5;


    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px lightgray;

}

#popOverContent {
    display:table;
    height: 100%;
    width: 100%;
}
#busySpinner {
    height: 100%;
    top:0;
    bottom:0;
    margin:auto;
    display:table-cell;
    vertical-align: middle;
}


#searchRow {
    position: relative;
}

#errorContainer {

}

#errorBox {
    color: black;
    border: 2px solid red;
    background: #FF9494;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

#errorInside {
    padding: 1em;
}

#twitterSupportButton {
    position: absolute;
    top: 5px;
    right: 5px;
}
 
.paper_title {
    color:;
}
.paper_authors {
    color: #009933;
    font-size: 10pt;
}
input[type="text"] {

    height: 24px;
	width:90%;

    padding: 12px;
	margin-bottom: 9px;
	margin-top: 5px;

    font-size: 20px;
	line-height: 22px;
}

input[type="button"] {
    
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	padding-left: 48px;
	padding-right: 48px;

	margin-left: 0;
    background: rgb(56,113,248);
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
input[type="button"]:hover {
    background: rgb(56,113,248);
    border: solid 1px #2A4E77;
    text-decoration: none;
}
input[type="button"]:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgb(56,113,248);
    border: solid 1px #203E5F;
}